/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



/* Mobile First Design Settings */
/* Main "Stage" Setting Styling Elements */

html {
  height: 100%;
}
body {
  background: url(images/stacked-books-bg.png) no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  padding-bottom: 15vh;
}

.container {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bookmarks-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  background-color: #E3C5BB;
  padding: 3vh 0 3vh 0;
  width: 100%;
  top: 0;
  margin-bottom: 2vh;
}

h1 {
  color: #764248;
  font-size: 3rem;
  margin: 3vh;
}

h2, h4 {
  color: #764248;
}

h2{
  font-size: 1.4rem;
}

h3 {
  color: #243242;
  font-size: 1.1rem
}

footer {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin-top: 2vh;
  background-color: #E3C5BB;
  padding: 1.5vh 0 1.5vh 0;
  width: 100vw;
  margin-bottom: 0;
}

.footer {
  position: absolute;
  left:0; right: 0; bottom: 0;
}


/* Button and Dropdown Styles */


.brown-button {
  background-color: #DFE2CF;
  color: #664A33;
  padding: 1vh;
  border-radius: 20px;
  border: 0;
  font-size: 1.1rem;
  margin-right: 1vw;
}

.gray-button {
  background-color: #F2F7F7;
  color: #764248;
  padding: 1vh;
  border-radius: 20px;
  border: 0;
  font-size: 1.1rem;
  margin-right: 1vw;

}

.maroon-button {
  background-color: #764248;
  color: #F2F7F7;
  padding: 1vh;
  border-radius: 20px;
  border: 0;
  font-size: 1.1rem;
  margin-right: 1vw;
}

select {
  background-color: #DFE2CF;
  color: #664A33;
  padding: 1.2vh;
  border-radius: 20px;
  border: 0;
  font-size: 1.3rem; 
  margin-left: 1vw;
}

.button-align a:link    { color: #764248; text-decoration: none; padding: .7vh;}
.button-align a:visited { color: #412528; text-decoration: none; padding: .7vh;}



/* Bookmark Template State Styles */


.bookmark-item-template {
  width: 80%;
}

.bookmark-render {
  background-color: white;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  margin-top: 3vh;
  padding-bottom: 1vh;
  font-size: 1.1rem;
  text-align: left; 
}

.bookmark-top {
  background-color: #B3CFD0;
  border-radius: 20px 20px 0 0;
  padding: 1vh;
  margin: 25px 0; 
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.text-margin {
  margin-left: 3vw;
  margin-right: 3vw;
}

.button-align {
  text-align: center;
}

.gray-button-margin {
  margin-right: 3vw;
}



/* Form Styling Elements */


form label {
  display: block;
  margin-bottom: 5px;
  color: #764248;
  text-align: left;
  margin-top: 2vh
}


form input {
  color: #000;
  font-size: 18px;
  width: 100%; 
}

legend {
  font-size:  1.3rem;
  color: #764248;
}

form textarea {
  height: 20rem;
  width: 100%;
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.add-bookmark-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

.input-container {
  width: 80%;
}

/* Error Container Styling */

.error-container-template {
  background-color: #c09891;
  width: 100%;
  align-items: center;
  border-radius: 20px;
  margin-top: 3vh;
  padding: 3vh 0 3vh 0;
  text-align: center;  
}

.error-text {
  margin: 3vw;
}


/* Desktop */


@media all and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 1.3rem;
  }
  .brown-button {
    padding: 1.7vh;
    font-size: 1.3rem;
  }
  
  .gray-button {
    padding: 1.7vh;
    font-size: 1.3rem;
  }
  
  .maroon-button {
    padding: 1.7vh;
    font-size: 1.3rem;
  }
  
  .error-container-template {
    font-size: 1.5rem;
  }

  .button-align a:link    { padding: 1.4vh;}
  .button-align a:visited { padding: 1.4vh;}
  .button-align a:hover   { color: #A66469; text-decoration: none; padding: 1.4vh;}
  .button-align a:active  { color: #764248; text-decoration: none; padding: 1.4vh;}
}



